<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootdemo.mapper.ArticleMapper">
    <resultMap id="ArticleResultMap" type="com.springbootdemo.model.Article">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="subtitle" jdbcType="VARCHAR" property="subtitle"/>
        <result column="des" jdbcType="VARCHAR" property="des"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="isTop" jdbcType="VARCHAR" property="isTop"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <!-- 获取用户列表 -->
    <select id="getArticle" resultMap="ArticleResultMap">
        select
        id
        ,title
        ,subtitle
        ,des
        ,content
        ,isTop
        ,create_time
        ,update_time
        from tb_article
        where 1=1
        order by id desc
    </select>

    <!-- 根据id修改用户信息 -->
    <update id="editArticleById" parameterType="com.springbootdemo.model.Article">
        UPDATE tb_article
        <trim prefix="set" suffixOverrides=",">
            <if test="title != null and title != ''">
                title=#{title},
            </if>
            <if test="subtitle != null and subtitle != ''">
                subtitle=#{subtitle},
            </if>
            <if test="des != null and des !=''">
                des=#{des},
            </if>
            <if test="content != null and content !=''">
              content=#{content},
            </if>
            <if test="isTop != null and isTop !=''">
                isTop=#{isTop},
            </if>
            update_time=Now()
        </trim>
        WHERE id = #{id}
    </update>

    <!-- 添加用户 -->
    <insert id="addArticle" parameterType="com.springbootdemo.model.Article">
        INSERT INTO tb_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="title != null and title != ''">title,</if>
            <if test="subtitle != null and subtitle != ''">subtitle,</if>
            <if test="des != null and des !=''">des,</if>
            <if test="content != null and content !=''">content,</if>
            <if test="isTop != null">isTop,</if>
            create_time,
            update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{id},
            <if test="title != null and title != ''">#{title},</if>
            <if test="subtitle != null and subtitle != ''">#{subtitle},</if>
            <if test="des != null and des !=''">#{des},</if>
            <if test="content != null and content !=''">#{content},</if>
            <if test="isTop != null and isTop !=''">#{isTop},</if>
            Now(),
            Now()
        </trim>
    </insert>

    <!-- 删除用户 -->
    <delete id="deleteArticle" parameterType="java.util.Map">
        <if test="null != ids and ids.size > 0">
            DELETE FROM tb_article
            WHERE id IN
            <foreach collection="ids" item="id" open="(" separator=","  close=")">
                #{id}
            </foreach>
        </if>
    </delete>

</mapper>